@font-face {
  font-family: 'CircularStd';
  src: url('path/to/circular-std.woff2') format('woff2'),
       url('path/to/circular-std.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}
body {
    font-family: 'CircularStd', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
.wrapper{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

}

.nav-bar{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.7rem;
    /* gap: 2.1rem; */
}

.middle-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 704px;
    height: 20px;
}


.middle-items p{
    color: #000;
    text-align: center; 
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    transition: transform 0.3s ease
}

.middle-items p:hover{
    transform: scale(1.1);
    font-weight: 500;
}

.login{
    display: flex;
    align-items: center;
    gap: 20px;
}

.login p{
    color: #000;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: transform 0.3s ease
}

.login p:hover{
    transform: scale(1.1);
    font-weight: 500;
}

.sign-up p{
    width: 97px;
    height: 40px;
    background-color: #C82021;
    border-radius: 20px;
    display:flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    transition: transform 0.3s ease
}

.sign-up p:hover{
    transform: scale(1.05);
    font-weight: 500;
}

.changepr{
    color: #C82021;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cngpre1{
    color: #2B2B2B;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bg-img{
    position: relative;
    width: 1360px;
    height: 600px;
    background-image: url(./images/bagr.png);
    margin: 0 auto;
}
.in-bagimg{
    margin: 0 auto;
    width: 671px;
    height: 522px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.bgimg-heading{
    width: 700px;
    height: 71px;
    margin-top: 72px;
    margin-left: 345px;
    margin-right: 344px;
}

.bgimg-heading p{
    color: #FFF;
    text-align: center;
    font-size: 57px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.bgimg-subheading p{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.bgimg-items{
    height: 38px;
    display: flex;
    gap: 30px;
}

.bgimg-items p{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    cursor: pointer;
}

.bgimg-items p:hover{
    transform: scale(1.1);
}

.bgimg-same-items{
    display: flex;
    width: 52px;
    height: 38px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.Mortgage{
    width: 110px;
}

.line{
    width: 100%;
    height: 4px;
}

.bgimg-same-items{
    display: inline-block;
    position: relative;
    color: #FFF;
}

.bgimg-same-items::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.bgimg-same-items:hover::after {
  transform: scaleX(1.1);
  transform-origin: bottom left;
}

.bgimg-searchbox{
    width: 625px;
    height: 60px;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    /* position: absolute; */
    z-index: 100;
}
.search-logo{
    position: relative;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:10px;
}
.search-logo img{
    position: absolute;
}

.search-logo:hover{
    transform: scale(1.01534);
}

.searchIcon{
    position: absolute;
    z-index: 10;
}

.inside-searchbox{
   width: 353px;
   height: 23px;
   margin: auto 23px;
   user-select: none;
   color: #888888;
}

.bgimg-searchbox::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(2px);
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
    border-radius:16px;
}

.bgimg-searchbox:hover::after{
    transform: scaleX(1);
    z-index: 15;
}

.section2-heading{
    margin: 0 auto;
    color: #2B2B2B;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section2-subheading{
    width: 792px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.section2-city{
    color: #2B2B2B;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section2-boxes{
    width: 1160px;
    height: 157px;
    display: flex;
    gap: 20px;
}
.box{
    width: 275px;
    height: 157px;
    border-radius: 16px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition-duration:1s;
}
.box .numbers p{
    color: #C82021;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.box:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box .box-desc p{
    color: #2B2B2B;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* .section3-heading{
    width: 288px;
    height: 40px;
} */

.section3-heading p{
    color: #2B2B2B;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.section3-home-icons{
    width: 950px;
    height: 78px;
    display: flex;
    gap: 10px;
}
.home-icons{
    width: 130px;
    height: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* padding: 10px 16px; */
    color: #565656;
    transition-duration:1s;
    border-radius: 5px;
}
.home-icons p{
    font-size: 13px;
    line-height: 14.44px;
    font-weight: 450;
}

.home-icons:hover{
    color: #C82021;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.section3-cards{
    margin: 0 auto;
    width: 1440px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2.3rem;
}

.cards{
    justify-self: center;
    align-self: center;
    width: 275px;
    height: 358px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    border-radius: 16px 16px 0 0;
    position: relative;
    transition-duration: all 1.2s;

}

.cards:hover .imhvr{
    transform: scale(1.02);
}

.cards:hover .comp-icons{
    transform: scale(1.2);
}

.imhvr{
    height: 100%;
    width: 100%;
}


.cards img{
    width: 100%;
    height: 260px;
    border-radius: 16px;
}
.samepr{
    display: flex;
    gap: 6px;
    align-items: center;
}

.component{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-left: 3px;
}

.logo .comp-icons{
    width: 14px;
    height: 22px;
}

.card-halfpart{
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.card-halfpart .amount p{
    color: #000000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo-text .numbar{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo-text .text{
    color: #565656;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.love img{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 16px;
    right: 16px;
}
.love:hover img{
    background-color: #c820207a;
    z-index: 17;
    position: absolute;
}

.loveimg{
    z-index: -17;
    position: relative;
}
.section4-heading{
    width: 240px;
    height: 24px;
}
.section4-heading p{
    font-size: 20px;
    font-weight: 500;
    line-height: 25.3px;
    align-items: center;
    color: #2B2B2B;
}

.box-header{
    width: 707px;
    height: 40px;
}

.section4-box{
    width: 100%;
    height: 360px;
    border-radius: 16px;
    background-color: #C82021;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.box-header p{
    font-size: 32px;
    font-weight: 700;
    line-height: 40.48px;
    align-items: center;
    color: #FFF;
}
.box-subheading{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 792px;
    height: 50px;
}
.box-subheading p{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.button{
    width: 625px;
    height: 60px;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button .email-text{
    margin: 0 20px;
    user-select: none;
    color: #888888;
}

.subscribe{
    display: flex;
    width: 131px;
    height: 48px;
    padding: 10px 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #2B2B2B;
    margin-right: 6px;
}
.subscribe p{
    color: #FFFFFF;
}

.button:hover .subscribe{
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}


.section5-header{
    color: #2B2B2B;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.section5-box{
    width: 970px;
    display: flex;
    gap: 170px;
    justify-content: center;
}
ul li{
    list-style-type: none;
    color: #2B2B2B;
    font-size: 17px;
    font-style: normal;
    font-weight: 450;
    line-height: 29px; 
    text-transform: capitalize;
}

li:hover{
    transform: scale(1.05);
    color: #C82021;
}

.houses-images{
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
    gap: 1.5rem;
}
.footer{
    display: flex;
    gap: 128px;
    align-items: center;
    margin-bottom:5rem ;
}
.fbox{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.fhead p{
    color: #2B2B2B;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.fhead ul li{
    color: #2B2B2B;
    font-size: 15px;
    font-style: normal;
    font-weight: 450;
    line-height: 26px; 
}